.container {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header header"
        "sidebar main"
        "footer footer";
    height: 100vh;
    gap: 10px;
}

.header {
    background-color: aqua;
    grid-area: header;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: blue;
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    background-color: blue;
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: yellow;
    grid-area: footer;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}